root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = tabs
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

[*.md]
insert_final_newline = false
indent_size = 2
indent_style = spaces

[*.py]
indent_style = space

[*.{yaml,yml}]
indent_size = 2
indent_style = tabs

[COMMIT_EDITMSG]
max_line_length = 0
